@model RestaurationApp.ViewModels.MenuViewModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Dishes</h1>
<ul>

    @foreach (var dish in Model.Dishes)
    {
    <li>
        <a asp-action="DishDetail" asp-route-id="@dish.Id">@dish.DishName</a>
        <a>@dish.Cost</a>
    </li>
    <hr />
    }

</ul>

<a asp-action="Cuisines">
    <input type="button" value="Back" />
</a>