@model RestaurationApp.ViewModels.StuffViewModel

<br />
<div class="title">
    <h1>Our Stuff</h1>
</div>

@foreach (var person in Model.People)
{
    <div class="person-box">
        <img class="person-image" src="@Url.Content(person.ImgUrl)" alt="BRAK OBRAZU" />
        <h1> @person.FirstName @person.LastName</h1>
        <a>@person.Description</a>

        <hr />
    </div>
}

<div class="person-box2"></div>